@import "mixins";
$primary-color: white;
$secondary-color: gray;
.titleSection {
  margin-bottom: 10px;
  .emailClass {
    font-size: 18px;
    color: white;
  }
}

.title {
  color: $primary-color;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.subTitle {
  color: $secondary-color;
  font-size: 20px;
  text-align: center;
}

.bgColor {
 background-color: rgba(54, 101, 149, 0.938);
}
.homeStyle {
  min-height: 100vh;
}

.homeContainer {
  color: white;

  .homeTitle {
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
  }
}

.loaderHome {
 margin-top: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(54, 101, 149, 0.938);
}

.FormStyle {
  padding: 20px 50px;
  border-radius: 20px;
  background-color: #ff00d48d;
  box-shadow: 0 4px 8px rgba(145, 9, 125, 0.9);
  display: flex;
  flex-direction: column;
  justify-items: center;
 
  Form {
    font-size: 20px !important;
    width: 400px;
    Button {
      width: 100%;
      background-color: $primary-color;
      padding: 0 20px !important;
    }
    Button:hover {
      background-color: $secondary-color;
      border: none;
    }
    Input {
      font-size: 16px !important;
      padding: 6px 6px !important;
    }
  }
}

.redirectText {
  font-size: 16px;
  color: white;
}

@include mobile {
  .FormStyle {
    padding: 10px;
    Form {
      width: 100%;
    }
  }
}
